{{#view "navigation"}}
  <aside>
    <nav>
      <div class="pages">
        <h1>Pages</h1>

        {{#liquid-box duration="100"}}
          {{#each}}
            <div class="page">
              {{#link-to "page" this classNames="title"}}
                {{title}}
              {{/link-to}}

              <a class="delete fa fa-trash-o" {{action "deletePage" this}}></a>
            </div>
          {{/each}}
        {{/liquid-box}}
      </div>

      <form class="inline" {{action "createPage" on="submit"}}>
        <div class="input">
          {{input value=newPageTitle placeholder="New Page"}}
        </div>

        <div class="submit">
          <input class="tiny" type="submit" value="&#xf058;" class="button"/>
        </div>
      </form>
    </nav>
  </aside>
{{/view}}

<main>
  {{outlet}}
</main>
