<section class="page">
  <div {{bind-attr class=":body isEditing:editing"}}>{{formattedBody}}</div>

  {{#if isEditing}}
    <div class="editor">
      <div>{{textarea value=body}}</div>
    </div>
  {{/if}}

  <button class="tiny success" {{action "mainAction"}}>{{mainActionText}}</div>
</section>
