{{#view "navigation"}}
  <aside>
    <nav>
      <div class="pages">
        <h1>Pages</h1>

        {{#liquid-box duration="100"}}
          {{#each}}
            {{#link-to "page" this classNames="page" tagName="div"}}
              <a class="title">
                {{title}}
              </a>

              <a class="delete fa fa-trash-o" {{action "deletePage" this}}></a>
            {{/link-to}}
          {{/each}}
        {{/liquid-box}}
      </div>

      <div class="add-page">
        <form class="inline" {{action "createPage" on="submit"}}>
          <div class="input">
            {{input value=newPageTitle placeholder="New Page"}}
          </div>

          <div class="submit">
            <input class="tiny" type="submit" value="&#xf058;" class="button"/>
          </div>
        </form>
      </div>
    </nav>
  </aside>
{{/view}}

<main>
  {{outlet}}
</main>
