<section class="page">
  {{#if isEditing}}
    <div class="body editing">{{formattedBody}}</div>

    <div class="editor">
      <div>{{textarea value=body}}</div>
    </div>
  {{else}}
    <div class="body">{{formattedBody}}></div>
  {{/if}}

  {{#if isEditing}}
    <div class="button tiny success" {{action "save"}}>Save</div>
  {{else}}
    <div class="button tiny" {{action "toggleEditing"}}>Edit</div>
  {{/if}}
</section>
